---
import Agendar from "../components/Agendar.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Layout from "../layouts/Layout.astro"


const ESPECIALISTAS = [
    {
        name:'Dr. Emanuel Navarro Paredes',
        title:'Cirujano Oncologo',
        description:'Cirujano Oncólogo egresado del Hospital Civil de Guadalajara se subespecializó en la Bayerische Julius-Maximilians-Universität en Würzburg, Alemania, en Oncología Gastrointestinal y Microcirugía Reconstructiva, durante el período de 2002-2007, donde colaboró con los grupos más importantes de cirugía colorrectal, gastrointestinal y tiroidea. Ha sido ponente y profesor en múltiples cursos, así como profesor titular de las cátedras de Histología y Clínicas de Oncología en la Facultad de Medicina de la Universidad de Guadalajara Lamar, en el mismo período. Además, ha participado en incontables congresos y actividades relacionadas con la Oncología, así como en cursos de actualización médica de 4 semanas de duración en la Chirurgische Universitätsklinik Würzburg.',
        img:'https://res.cloudinary.com/dhv3vam1r/image/upload/c_crop,ar_1:1/v1710420895/GOP/ambsxnhtd5kxcz1dyw8m.webp'
    },
   
    {
        name:'Dr. Oscar Eduardo Meza Ortiz',
        title:'Medicina Paliativa y del dolor',
        description:'Médico Anestesiólogo egresado de la Universidad de Guadalajara Certificación por el Consejo Nacional de Certificación en Anestesiología, A.C. Especialidad en Medicina Paliativa y del Dolor, egresado de la Universidad de Guadalajara',
        img:'/assets/especialistas/especialistadesc.webp'
    },
]

---

<Layout title="Especialistas" description="Especialistas">
<SectionContainer class=''>
    <h1 class="text-center text-5xl font-bold mt-4 mb-4">Especialistas</h1>

    <div class="">
      {
        ESPECIALISTAS.map(({ name, description, img, title }, index) => (
          <div class=" mb-4 md:m-8  bg-white border border-gray-200 rounded-lg shadow ">
            <div class="text-center mt-10">
              <h5 class=" m-4 mb-1 text-lg lg:text-4xl font-medium text-gray-900 ">{name}</h5>
              <span class="text-md lg:text-2xl text-gray-500 ">{title}</span>
            </div>  
            <div class="flex flex-col lg:flex-row items-center p-4 text-center ">
              <img class="mb-4 rounded-full size-48 md:size-48 lg:size-56 xl:size-80 mt-4" src={img} alt={name} {title}>
              <span class="m-4 text-left md:text-lg lg:text-xl xl:text-2xl text-gray-900 ">{description}</span>
            </div>
            <Agendar />
          </div>
        ))
      }
      </div>
    
</SectionContainer>
</Layout>