---
import SectionContainer from "./SectionContainer.astro"


const ESPECIALISTAS = [
    {
        name:'Dr. Emanuel Navarro Paredes',
        title:'Cirujano Oncologo',
        description:'Cirujano Oncólogo egresado del Hospital Civil de Guadalajara y subespecializado en la Bayerische Julius-Maximus Universität en Würzburg, Alemania en Oncología Gastrointestinal y Microcirugía Reconstructiva...',
        img:'/assets/especialistas/especialista1.webp'
    },
    {
        name:'Dra. Gabriele María Bárbara Schulz',
        title:'Dermatologa',
        description:'Dermatóloga egresada del Instituto Dermatológico de Jalisco “Dr. José Barba Rubio” en Guadalajara, Jalisco, México. Realiza sus estudios de medicina y doctorado (2002) en Bayerische Julius-Maximus Universität en Würzburg, Bavaria, Alemania...',
        img:'/assets/especialistas/especialista2.webp'
    },
    // {
    //     name:'Dr. Oscar Eduardo Meza Ortiz',
    //     title:'Medicina Paliativa y del dolor',
    //     description:'Médico Anestesiólogo egresado de la Universidad de Guadalajara Certificación por el Consejo Nacional de Certificación en Anestesiología, A.C. Especialidad en Medicina Paliativa y del Dolor, egresado de la Universidad de Guadalajara',
    //     img:'/assets/especialistas/especialistadesc.webp'
    // },
    {
        name:'Conoce a todos los especialistas',
        title:'Centro Integral Oncologico Los Angeles',
        description:'Contamos con un equipo multidisciplinario para que tengas la mejor atención. ',
        img:'/assets/especialistas/logoangel.webp'
    },
]

---


<SectionContainer class='lg:p-20'>
    <h1 class="text-center text-4xl font-bold mt-4 mb-8">Especialistas</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-3  gap-4">
        {
          ESPECIALISTAS.map(({ name, description, img, title }, index) => (
            <div class="  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <a href="/especialistaspage">
              <div class="flex flex-col items-center p-4 text-center">
                <img class="mb-4 rounded-full size-36 md:size-48 lg:size-56 xl:size-64 mt-4" src={img} alt={name} {title}>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{name}</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">{title}</span>
                <span class="m-4 text-left text-lg lg:text-xl text-gray-900 dark:text-gray-400">{description}</span>
              </a>
                <button class="rounded-lg mt-2 bg-blue-700 text-white py-1 px-3 text-center hover:bg-blue-800">Saber más</button>
              </div>
            </div>
          ))
        }
        </div>
      
</SectionContainer>
